@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-comp-1: #CC3725;
  --color-comp-2: #0052CC;
  --color-comp-3: #FFC400;
  --color-comp-4: #00875A;
  --color-comp-5: #8755DE;
}